/* font-family: 'Gilda Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --main-bg-color: #fef6ed;
  --main-tx-color: #184027;
  --sec-color: #ed6b2d;
  --main-font: "Gilda Display", serif;
  --sec-font: "Poppins", sans-serif;
}

body {
  background: var(--main-bg-color);
  color: var(--main-tx-color);
}

.hero {
  text-align: center;
  padding: 200px 100px 100px 100px;
}

h1 {
  font-family: var(--main-font);
  font-size: 80px;
  margin: 0px;
}

h2 {
  font-family: var(--sec-font);
  font-size: 22px;
  padding: 20px 0px 40px 0px;
  margin: 0px;
}

h3 {
  font-family: var(--main-font);
  font-size: 64;
}

p {
  font-family: var(--sec-font);
  font-size: 15px;
}

.btn-branded {
  background: var(--sec-color);
  color: white;
  border-radius: 4px;
}

.btn-branded:hover {
  background: transparent;
  color: #ed6b2d;
  border: solid 1px #ed6b2d;
}

hr.branded-stripe {
  border: 1.5px solid var(--main-tx-color);
  width: 80%;
  margin: auto;
  border-radius: 4px;
  opacity: 0.75;
}

.colum {
  margin: 50px 50px;
}
