/* font-family: 'Gilda Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --main-bg-color: #fef6ed;
  --main-tx-color: #184027;
  --sec-color: #ed6b2d;
  --main-font: "Gilda Display", serif;
  --sec-font: "Poppins", sans-serif;
}

body {
  background: var(--main-bg-color);
  color: var(--main-tx-color);
}

nav {
  padding: 20px;
}

nav li {
  display: inline;
  padding: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--main-tx-color);
  transition: all 100ms ease-in-out;
}

nav li a:hover {
  color: var(--sec-color);
}

nav li .active {
  color: var(--sec-color);
}

.hero {
  text-align: center;
  padding: 100px 100px 100px 100px;
}

h1 {
  font-family: var(--main-font);
  font-size: 80px;
  margin: 0px;
}

h2 {
  font-family: var(--sec-font);
  font-size: 22px;
  padding: 20px 0px 40px 0px;
  margin: 0px;
}

h3 {
  font-family: var(--main-font);
  font-size: 64;
  margin: 8px;
}

p {
  font-family: var(--sec-font);
  font-size: 15px;
  margin: 8px;
}

.btn-main-branded {
  background: var(--sec-color);
  color: white;
  border-radius: 4px;
}

.btn-main-branded:hover {
  background: transparent;
  color: var(--sec-color);
  border: solid 1px var(--sec-color);
}

.btn-sec-branded {
  background: transparent;
  color: var(--sec-color);
  border: solid 1px var(--sec-color);
}

.btn-sec-branded:hover {
  background: var(--sec-color);
  color: white;
  border-radius: 4px;
}

hr.branded-stripe {
  border: 1.5px solid var(--main-tx-color);
  width: 85%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  opacity: 0.75;
}

.colum {
  margin: 50px 50px;
}

.gallery {
  filter: opacity(0.7);
}

.gallery:hover {
  filter: none;
}

.about-photo {
  padding: 30px;
  border-radius: 35px;
}

ol {
  padding: 0px;
}

li {
  list-style: none;
  font-family: var(--sec-font);
  font-size: 15px;
}

.cv {
  color: var(--sec-color);
}

button {
  margin: 20px;
}

#showCV {
  display: none;
}

.work-gallery {
  max-width: 900px;
}

.work-img {
  margin-bottom: 30px;
  margin-top: 30px;
}

.footer {
  background: #eff483;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
}

.talk {
  margin: 20px;
  padding: 7px 25px;
}

.inquiry {
  margin-top: 10px;
}

footer .icons {
  text-align: center;
  color: var(--sec-color);
  margin-bottom: 20px;
}

footer .icon {
  margin: 25px;
  background: rgba(237, 107, 45, 0.1);
  border-radius: 100%;
  padding: 8px;
}

footer a {
  text-decoration: none;
  color: var(--sec-color);
  text-align: center;
  margin-bottom: 20px;
}

footer a:hover {
  color: white;
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  .hero {
    padding: 0px 50px 50px 50px;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 13px;
  }

  .about {
    padding: 0px 30px 30px 30px;
    margin: 0px;
  }

  nav {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  ul {
    padding: 0px;
  }

  hr.branded-stripe {
    border: 0.5px solid var(--main-tx-color);
  }

  .work-gallery {
    max-width: 400px;
  }
}
